/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;

	--background-color: #fff;

	--text-color: var(--color-gray-90);
	--text-color-link: #082840;
	--text-color-link-active: #5f2b48;
	--text-color-link-visited: #17050F;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		--text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8;

		--background-color: #15202b;
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
	min-height: 100%; /*2023-09-27 adding for footer to be bottom*/

}
body {
	max-width: 54em; /*Set the max width of the content on the page*/
}


#page-container {				 /* Footer div stuff */
	position: relative;
	min-height: 100vh;
  }
  
  #content-wrap {
	padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	padding: 1rem;
	width: 100%;
	height: 2.5rem;            /* Footer height */
  }

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

/*Liam: ditched the bottom border by bringing it to 0px */
header {
	border-bottom: 0px dashed var(--color-gray-20);
}

header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	list-style: none;
	border-top: 1px dashed var(--color-gray-20);
	padding: 1em 0;
}

table {
	margin: 1em 0;
	border: 1.5px solid;
	border-collapse: collapse; 
}

table td,
table th {
	padding-right: 1em;
	padding-left: 0.3em;
	border: 1.5px solid;


}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
}
code {
	word-break: break-all;
}

/* Header */
/* previously was display:flex; */
header {
	display: block;
	gap: 1em .5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex; 	
	padding: 0;
	margin: 0;
	list-style: none;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}

.nav-item {
	display: inline-block;
/*	margin-right: 1em; */
	margin: 0 auto; /* Liam: I've reset the margin here which spaces out the nav menu items and centers them.*/
	position: relative; /* This is important to position the dropdown relative to the parent nav item */
}
.nav-item a[href]:not(:hover) { /*The styling of a nav menu item on hover*/
	text-decoration: none;
}
.nav a[href][aria-current="page"] { /*The styling that shows the current page you're on*/
	text-decoration: underline;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 0; /*Liam 2023-11-09, was 1.5em but I removed it when removing the numbers*/
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
/*
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
} */

.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0; /* Again, was .25em */
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

/* Direct Links / Markdown Headers */
.header-anchor {
	text-decoration: none;
	font-style: normal;
	font-size: 1em;
	margin-left: .1em;
}
a[href].header-anchor,
a[href].header-anchor:visited {
	color: transparent;
}
a[href].header-anchor:focus,
a[href].header-anchor:hover {
	text-decoration: underline;
}
a[href].header-anchor:focus,
:hover > a[href].header-anchor {
	color: #aaa;
}

h2 + .header-anchor {
	font-size: 1.5em;
}

.logo {
    max-width: 26em; /* Adjust as needed */
    margin: 0 auto; /* Centers the logo if the header is flexbox or grid */
    display: block; /* If you want to center the logo for block-level containers */
}

.logo-container {
    text-align: center; /* Center the logo within its container */
    margin-bottom: 12px; /* Optional space between the logo and the menu */
}


/* Liam: GBT got me adding this on 2023-09-17. Style for the dropdown */
.dropdown {
    display: none; 
    position: absolute;
    z-index: 1;
	list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* Removes the default padding */
} 

.dropdown a {
    padding: 5px 0px;
    text-decoration: none;
    display: block;
}

nav li:hover .dropdown { /* Show the dropdown when hovering over its parent li element */
    display: block;
	background-color: var(--background-color);
}

/*Liam 2023-09-17: still an issue with the dropdown, which is that the Current Page styling isn't working. also, it's not going to work on mobile. Yet.*/


.postlist-cover { /*this is working*/
    max-width: 100px;  /* Adjust this to your desired width */
    height: auto;
    margin-right: 10px;  /* Space between the image and the post title */
    vertical-align: middle;  /* Aligns the image with the post title */
}


svg {
	fill: var(--text-color);
}

svg:hover {
	opacity: 90%;
}

/* Message Box */
.message-box {
	--color-message-box: #ffc;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 2em 2em; /* 16px 10px /16 */
}
.message-box ol {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	.message-box {
		--color-message-box: #082840;
	}
}

img {
	width:100%;
	height:100%;
}

/*Portfolio grid layout*/


.portfolioLayout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
	grid-gap: 2em;
}

.portfolioImage {
	width: 18em;
	height: 12em;
  	object-fit: cover;
  	border-radius: 2px;
}

.organizationImage {
	width: 14em;
	height: 12em;
  	object-fit: cover;
  	border-radius: 2px;
}

.portfolioItem {
    /* This makes sure the image and title inside it stack vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: to center items horizontally */
}

.portfolioItem h3 {
	/* this reduces the spacing between the text and image, and keeps the text from expanding beyond the image. */
    margin-top: 0; 
    max-width: 15em;
}

.portfolioItem a {
	/*This removes the underline from post title*/
	text-decoration: none;
}