---
layout: layouts/base.njk
eleventyNavigation:
  key: Blog
  parent: Other Stuff
  order: 4
---
<h1>Blog</h1>
 
{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<hr>

<h2>Old Blogs</h2>
<p>Over the years I've maintained a few different blogs for different projects. Not all of them are up anymore, but here you can find links to the ones I've still got.</p>
<br>

<a href="https://endor.agilelearningcenters.org/blog/">
  <h3>
    Endor
  </h3>
</a> 
<p>I used to write weekly posts about the goings on at Endor.</p>
<br>



<a href="https://liam.agilelearningcenters.org/blog/">
  <h3>
    Agile Learning Facilitation
  </h3>
</a>
<p>I used to write about the work I did for the ALC network and facilitating at Endor.</p>
<br>

<a href="https://web.archive.org/web/20170506204634/http://blog.makeymakey.com/">
  <h3>
    Makey Makey
  </h3>
</a>
<p>I used to write ~weekly on the Makey Makey blog. <br>
Mostly about cool projects the community made, but also a little about goings-on at the company.</p>



