---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 2
---

<style>

h1 {
  display: inline-block;
}

.inline img {
	float: right;
	margin: 0px;
	margin-right:20px;
  width:250px;
  height:100%;
}

@media screen and (max-width: 600px) {
  .inline img {
	margin-right: auto;
  margin-left: auto;
  padding: 0% 20% 0% 20%;
  float: right;
  width:100%;
  height:100%;
  }

  .hand img {
  display: none;
  }
}
</style>

<div class="inline">
  <div>
    <img src="/img/liam_drawing.svg" alt="Liam as a drawing">
  </div>
  <h1>Hi</h1>
  <p>I am a designer and educator based in Åårhus, passionate about making tools and environments that empower learners of all ages to make the world a more playful, equitable, and sustainable place. </p>
</div>

<h2>Now</h2>
<p>I’m managing a community radio station called <a href=https://www.sydhavnsboelgen.dk/>Sydhavnsbølgen</a>, putting on events, renovating a house, and eating as many distinct species as possible before 21/4/2024, and designing playful learning interfaces at <a href=https://joylabz.com/>JoyLabz</a>.</p>

<p>I’m not currently accepting work, but soon I’ll be back consulting and facilitating workshops</p>



<h2>Before</h2>
<p>I used to work at the LEGO Foundation where I ran the LEGO Idea Studio, designing tools and running workshops to help NGOs understand playful learning through hands-on experiences. I also advised on program design and lead efforts to build a peer learning community within the LEGO Foundation.</p>

<p>Before LEGO, I ran the online presence of Makey Makey, developing content, managing customer and technical support, and building a user generated content platform. I also founded and ran an Agile Learning Center for self-directed learners aged 14-18 called <a href=/portfolio/featuredPortfolio/endor-alc/>Endor</a>.</p>