---
title: Portfolio
layout: layouts/base.njk
eleventyNavigation:
  key: Portfolio
  order: 2
---

<style>
body {
  max-width: 76em;
}
</style>

<br>
<br>
<br>


<div class="portfolioLayout">   
    {% for post in collections.featuredPortfolio %}
      <div class="portfolioItem">
        <a href="{{post.url}}">
          <img class="portfolioImage" src="{{post.data.cover}}">
        </a>
        <h3> 
          <a href="{{post.url}}">{{post.data.title}}</a>
        </h3>
      </div>
    {% endfor %}
</div>

<br>
<br>

<h1>Organizations I've worked for / with</h1>

<br>

<div class="portfolioLayout">   
    {% for post in collections.organization %}
      <div class="portfolioItem">
        <a href="{{post.url}}">
          <img class="organizationImage" src="{{post.data.cover}}">
        </a>
        <h3> 
          <a href="{{post.url}}">{{post.data.title}}</a>
        </h3>
      </div>
    {% endfor %}
</div>
