---
layout: layouts/base.njk
---
<article>
    {{ content | safe }}
</article>

{# 2024-03-30 - I'm going to try and remove the potfolio-content class from the article element, because I don't think it's doing anything. Below you can see how it used to read#}
{#<article class="portfolio-content">
    {{ content | safe }}
</article>#}